<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="APP_NAME" value="stettl" />
	<property name="LOG_PATH" value="C:\\server\\apache-tomcat-8.5.27\\logs\\we" />
	<property name="ENCODER_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />
	<contextName>${APP_NAME}</contextName>

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 滚动记录文件 -->
	<appender name="ROLL_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/log.%d{yyyy-MM-dd_HH}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<!-- <timeBasedFileNamingAndTriggeringPolicy> -->
			<!-- <maxFileSize>110KB</maxFileSize> -->
			<!-- </timeBasedFileNamingAndTriggeringPolicy> -->
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<!-- 错误记录文件 -->
	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd_HH}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level><!-- 只打印错误日志 -->
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> <level>INFO</level> 
			</filter> <filter class="ch.qos.logback.core.filter.EvaluatorFilter"> <evaluator> 
			<expression>retrun message.contains("str");</expression> <onMath>ACCEPT</onMath> 
			<onMismatch>DENY</onMismatch> </evaluator> </filter> -->
	</appender>


	

	 <!-- 异步输出 -->  
     <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">  
            <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->  
            <discardingThreshold >0</discardingThreshold>  
            <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->  
            <queueSize>256</queueSize>  
            <!-- 添加附加的appender,最多只能添加一个 -->  
         	<appender-ref ref ="DB"/>
     </appender>

	<root level="ALL">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLL_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>

</configuration>