<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />

	<context:component-scan base-package="opst.we" />
    
    <!-- 定时调度 --> 
	<task:executor id="taskExecutor" pool-size="50" />
	<task:scheduler id="taskScheduler" pool-size="100" />
	<task:annotation-driven executor="taskExecutor"
		scheduler="taskScheduler" />
	
		
	<aop:aspectj-autoproxy  proxy-target-class="true"/>

	<!--配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- jndi
	 <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jdbc.datasource}"></property>
	</bean> -->

	 <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
	 <!--destroy-method="close">-->
	 <!--<property name="driverClassName" value="${jdbc.driver}" />-->
	 <!--<property name="url" value="${jdbc.url}" />-->
	 <!--<property name="username" value="${jdbc.username}" />-->
	 <!--<property name="password" value="${jdbc.password}" />-->
	 <!--<property name="initialSize" value="${dbcp.initialSize}" />-->
	 <!--<property name="maxIdle" value="${dbcp.maxIdle}" />-->
	 <!--<property name="maxActive" value="${dbcp.maxActive}" />-->
	 <!--<property name="defaultAutoCommit" value="false" />-->
	 <!--</bean>-->

	<!-- Mybatis -->
	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="basePackage" value="com.eastpay.**.mapper" />-->
	<!--</bean>-->
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="dataSource" />-->
		<!--<property name="configLocation" value="classpath:mybatis-config.xml" />-->
	<!--</bean>-->

	<!-- Transaction [[ -->
	<!--<bean id="transactionManager"-->
		<!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
		<!--<property name="dataSource" ref="dataSource" />-->
	<!--</bean>-->
	<!--<tx:annotation-driven transaction-manager="transactionManager" />-->
	<!-- Transaction ]] -->
	
	<!-- redis 
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="maxTotal" value="${redis.maxTotal}" />
		<property name="maxWaitMillis" value="${redis.maxWait}" />
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.host}" p:port="${redis.port}" p:pool-config-ref="poolConfig"
		p:database="${redis.database}" />-->

	<!-- redis template definition 
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>-->
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean>
</beans>