<!doctype html>
<html lang="en">
<#include "/inc/header.htm" />
<body>
<div class="container">
    <#include "/inc/top.htm" />
</div>
<#include "/inc/page.htm" />

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">武将列表</h2>
                <form class="form-inline" action="${ctx}/stzb/hero/list">
                    <label for="name">名称:</label>
                    <input type="text" class="form-control" id="name" value="${hero.name!''}" name="name" placeholder="输入名称">
                    <button type="submit" class="btn btn-primary ">查询</button>
                    <button type="button" onclick="javascirpt:$('#name').val('')" class="btn btn-primary ">清空</button>
                        <button type="button" id="btncont" class="btn btn-success mx-auto">对比列表</button>
                </form>

                <hr>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>武将</th>
                        <th class="clicksort" data="1">攻击</th>
                        <th class="clicksort" data="2">谋略</th>
                        <th class="clicksort" data="3">速度</th>
                        <th class="clicksort" data="4">防御</th>
                        <th class="clicksort" data="5">攻城</th>
                        <th>距离</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list page.rows as item>
                        <tr>
                            <td>${item.uniquename}<a delay="10" href="javascript:;" class="detailclick" data="${item.id}">${item.quality}星</a></td>
                            <td>${item.attack}(${item.attgrow?string('#.##')})
                                <a title="点击加入对比" href="javascript:;" class="detailcontrast" data="${item.id}">加</a></td>
                            <td>${item.ruse}(${item.rusegrow?string('#.##')})</td>
                            <td>${item.speed}(${item.speedgrow?string('#.##')})</td>
                            <td>${item.def}(${item.defgrow?string('#.##')})</td>
                            <td>${item.siege}(${item.siegegrow?string('#.##')})</td>
                            <td>${item.distance}</td>
                        </tr>
                    </#list>
                    </tbody>
                </table>
                <p class="text-right"><@p page=page /></p>
            </div><!-- /.blog-post -->
        </div>
    </div>
</main>
<#include "/inc/footer.htm" />
</body>
</html>