<!doctype html>
<html lang="en">
<#include "/inc/header.htm" />
<body>
<div class="container">
    <#include "/inc/top.htm" />
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
            </h3>
            <div class="blog-post">
                <h2 class="blog-post-title">${hero.uniquename}</h2>
                <h3 >cost:${hero.cost?string('#.##')},星级:${hero.quality},攻击距离:${hero.distance}
                        <a class="btn btn-outline-primary " href="${ctx}/stzb/hero/list">武将列表</a>
                </h3>
                <p class="blog-post-meta">${hero.sdate?date}</p>
                <hr>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>等级</th>
                        <th>攻击</th>
                        <th>谋略</th>
                        <th>速度</th>
                        <th>防御</th>
                        <th>攻城</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list (1..50)?reverse as i>
                        <tr>
                            <td>${i}</td>
                            <td>${(hero.attack+hero.attgrow*i)?string('#.##')}</td>
                            <td>${(hero.ruse+hero.rusegrow*i)?string('#.##')}</td>
                            <td>${(hero.speed+hero.speedgrow*i)?string('#.##')}</td>
                            <td>${(hero.def+hero.defgrow*i)?string('#.##')}</td>
                            <td>${(hero.siege+hero.siegegrow*i)?string('#.##')}</td>
                        </tr>
                    </#list>
                    </tbody>
                </table>
            </div><!-- /.blog-post -->

        </div>
    </div>
</main>
<#include "/inc/footer.htm" />

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="${js}/stzb.js"></script>
<script type="application/javascript">var PATH = "${ctx}"</script>
</body>
</html>