<!doctype html>
<html lang="en">
<head>
    <#include "/inc/header.htm" />
</head>
<body>
<div class="container">
    <#include "/inc/top.htm" />
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-light">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic text-dark">我很懒,你很丑</h1>
            <p class="lead my-3 text-dark">去年今日此门中，人面桃花相映红
                <br/>人面不知何处去，桃花依旧笑春风</p>
        </div>
    </div>

    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="${ctx}/stzb/hero/list">列表</a>
    </nav>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">攻击No1</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[0].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[0].quality}</div>
                    <p class="card-text mb-auto">攻击:${rechero[0].attack}(${rechero[0].attgrow?string('#.##')}),
                    <p>
                        攻击:${rechero[0].attack},谋略:${rechero[0].ruse},攻击距离:${rechero[0].distance},攻城:${rechero[0].siege},防御:${rechero[0].def},速度:${rechero[0].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[0].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">谋略No1</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[1].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[1].quality}</div>
                    <p class="card-text mb-auto">谋略:${rechero[1].ruse}(${rechero[1].rusegrow?string('#.##')}),
                    <p>
                        攻击:${rechero[1].attack},谋略:${rechero[1].ruse},攻击距离:${rechero[1].distance},攻城:${rechero[1].siege},防御:${rechero[1].def},速度:${rechero[1].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[1].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">攻城No1</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[4].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[4].quality}</div>
                    <p class="card-text mb-auto">攻城:${rechero[4].siege}(${rechero[4].siegegrow?string('#.##')}),
                    <p>
                        攻击:${rechero[4].attack},谋略:${rechero[4].ruse},攻击距离:${rechero[4].distance},攻城:${rechero[4].siege},防御:${rechero[4].def},速度:${rechero[4].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[4].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">速度No1</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[3].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[3].quality}</div>
                    <p class="card-text mb-auto">速度:${rechero[3].speed}(${rechero[3].speedgrow?string('#.##')}),
                    <p>
                        攻击:${rechero[3].attack},谋略:${rechero[3].ruse},攻击距离:${rechero[3].distance},攻城:${rechero[3].siege},防御:${rechero[3].def},速度:${rechero[3].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[3].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
    </div>

</main>

<main role="main" class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">防御No1</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[5].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[5].quality}</div>
                    <p class="card-text mb-auto">防御:${rechero[5].def}(${rechero[5].defgrow?string('#.##')}),
                    <p>
                        攻击:${rechero[5].attack},谋略:${rechero[5].ruse},攻击距离:${rechero[5].distance},攻城:${rechero[5].siege},防御:${rechero[5].def},速度:${rechero[5].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[5].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">距离</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">${rechero[2].uniquename!}</a>
                    </h3>
                    <div class="mb-1 text-muted">星级:${rechero[2].quality}</div>
                    <p class="card-text mb-auto">距离:${rechero[2].distance},
                    <p>
                    攻击:${rechero[2].attack},谋略:${rechero[2].ruse},攻击距离:${rechero[2].distance},攻城:${rechero[2].siege},防御:${rechero[2].def},速度:${rechero[2].speed}</p>
                    </p>
                    <a href="${ctx}/stzb/hero/detail/${rechero[2].id}">详情</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="${images}/logo.ico" style="width: 13em;"
                     alt="Card image cap">
            </div>
        </div>
    </div>


</main>

<#include "/inc/footer.htm" />

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="${js}/stzb.js"></script>
<script type="application/javascript">var PATH = "${ctx}"</script>
</body>
</html>