<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Hello</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">率土</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DNF</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>武将信息</h2>
    <table class="table table-condensed table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th width="7%">武将</th>
            <th width="5%">攻击</th>
            <th width="5%">cost</th>
            <th width="5%">谋略</th>
            <th width="5%">攻城</th>
            <th width="5%">防御</th>
            <th width="5%">速度</th>
            <th width="30%">战法</th>
            <th width="30%">拆技</th>
        </tr>
        </thead>
        <tbody>
        <#if page?? >
            <#list page as item>
                <tr>
                    <td>${item.name}</td>
                    <td>${item.gj}</td>
                    <td>${item.cost}</td>
                    <td>${item.mn}</td>
                    <td>${item.gc}</td>
                    <td>${item.fy}</td>
                    <td>${item.sd}</td>
                    <td>${item.zf!'---'}</td>
                    <td>${item.cj!'---'}</td>
                </tr>
            </#list>
        </#if>
        </tbody>
    </table>

</div>

</body>
</html>
