<#macro p page>     
 <!-- 分页 -->
 <#assign size = 8 />
 
 
<a href='${req.getPageUrl('page=1')}' >首页</a>

<#if (page.page > 1)>
<a href='${req.getPageUrl('page='+(page.page-1))}' >上页</a>
<#else>
 <a href = "javascript:;">上页</a>
</#if>

<#assign begin = (page.page - 2) />
<#if (begin < 1)>
	<#assign begin = 1 />
</#if>

<#assign over = (begin + size) />
<#if (over > page.pageCount)>
	<#assign over = page.pageCount />
	<#assign begin = over - size />
</#if>

<#if (begin > 1)>
<a href='${req.getPageUrl('page=1')}'>1</a>
...
</#if>

<#list begin..over as item>
<#if (item >= 1) && (item <= page.pageCount) >
	<#if (item == page.page) >
		<a class="active" >${item}</a>
	<#else>
		<a href='${req.getPageUrl('page='+item)}'>${item}</a>
	</#if>
</#if>
</#list>
<#if ( page.pageCount - over > 0)>
...
<a href='${req.getPageUrl('page='+page.pageCount)}'>${page.pageCount}</a>
</#if>
<#if (page.page < page.pageCount)>
<a href='${req.getPageUrl('page='+(page.page+1))}' >下页</a>
<#else>
<a href="javascript:;">下页</a>
</#if>
<a href='${req.getPageUrl('page='+page.pageCount)}' class="marrsm" >末页</a>
<span>共${page.pageCount}页</span>
</#macro>