<#macro p page>
    <!-- 分页 -->
    <#assign size = 4 />
    <ul class="pagination">

        <!--<li class="page-item"><a class="page-link" href='${req.getPageUrl('page=1')}' >首页</a></li>-->

        <#if (page.page > 1)>
            <li class="page-item"><a class="page-link" href="${req.getPageUrl('page='+(page.page-1))}">上页</a></li>
            <#else>
                <li class="page-item disabled"><a class="page-link" href="javascript:;">上页</a></li>
        </#if>

        <#assign begin = (page.page - 2) />
        <#if (begin < 1)>
        <#assign begin = 1 />
        </#if>

        <#assign over = (begin + size) />
        <#if (over > page.pageCount)>
            <#assign over = page.pageCount />
            <#assign begin = over - size />
        </#if>

        <#if (begin > 1)>
            <!--<li class="page-item"><a class="page-link" href="${req.getPageUrl('page=1')}">1</a></li>
            ...-->
        </#if>

        <#list begin..over as item>
            <#if (item >= 1) && (item <= page.pageCount) >
                <#if (item == page.page) >
                    <li class="page-item"><a class="page-link active">${item}</a></li>
                    <#else>
                        <li class="page-item"><a class="page-link" href="${req.getPageUrl('page='+item)}">${item}</a>
                        </li>
                </#if>
            </#if>
        </#list>

        <#if ( page.pageCount - over > 0)>
            <!--...-->
            <!--<li class="page-item"><a class="page-link" href="${req.getPageUrl('page='+page.pageCount)}">${page.pageCount}</a></li>-->
        </#if>
        <#if (page.page < page.pageCount)>

        <li class="page-item"><a class="page-link" href="${req.getPageUrl('page='+(page.page+1))}">下页</a></li>
        <#else>
            <li class="page-item disabled"><a class="page-link" href="javascript:;">下页</a></li>
            </#if>

            <!--<li class="page-item"><a class="page-link" href="${req.getPageUrl('page='+page.pageCount)}" >末页</a></li>-->

    </ul>
</#macro>